<%- include('./partials/header.ejs') %>


<h1>Home Page</h1>

<%if (user){ %>
    <h1>Welcome <%= user.username %> </h1>
    
   <a href="/student/information"> <button>Parent Info</button></a>
   <a href="/student/reviews"> <button>Weekly Reviews</button></a>
<% } else { %>
    <p>Create an Account!</p>
<% } %>

<%- include('./partials/footer.ejs') %>