<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
     <div class="displayinfo">
         <h2 class="headerHighlight">Your Weekly Reviews</h2>
         <% reviews.forEach(review => { %>
             <ul><p class="textHighlight"><a href="/student/reviews/<%=review._id%>"><%= review.weekNumber %></a></p></ul>
             <% }); %>
             <br>
             <a href="/student/reviews/new"><button>New Review</button></a>
     </div>
</body>
</html>