<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <form action="/student/reviews" method="POST">
        <label name="weekNumber" id="weekNumber">how U doin?</label>
        <select name="weekNumber" id="weekNumber">
            <option value="Week 1">Week 1</option>
            <option value="Week 2">Week 2</option>
            <option value='Week 3'>Week 3</option>
            <option value='Week 4'>Week 4</option>
            <option value='Week 5'>Week 5</option>
        </select>
        <label name="rating" id="rating">how U doin?</label>
        <select name="rating" id="rating">
            <option value="0 - I have no understanding">0 - I have no understanding</option>
            <option value="1 - I have very limited Understanding">1 - I have very limited Understanding</option>
            <option value='2 - I understand more than 50% of what weve done'>2 - I understand more than 50% of what weve done</option>
            <option value='3 - I have a concrete level of understanding'>3 - I have a concrete level of understanding</option>
            <option value='4 - I feel very comfortable with my level of understanding'>4 - I feel very comfortable with my level of understanding</option>
        </select>
        <label name="weeklyReview" id="weeklyReview">Details: </label>
        <textarea id="weeklyReview" name="weeklyReview" id="weeklyReview" rows="5">

        </textarea>
        <button>Submit</button>


    </form>

    
</body>
</html>